/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FF5B00;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header * {
    color: white;
}

nav > .my-row {
    width: 80%;
}

nav {
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline;
}

nav li:nth-child(2n){
    padding: 0 20px;
}

main {
    margin-top: 60px;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

.my-row {
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.my-col-1-3 {
    width: calc(100% / 3);
    margin: 0 10px;
}

.my-col-1-2 {
    width: calc(100% / 4);
    margin: 0 50px;
}

.my-col-1-2 > * {
    color: white;
}

.my-col-1-2 li {
    text-align: left;
    list-style: none;
    display: inline-block;
    font-size: 0.8em;
    padding: 0 5px;
}

#logo {
    height: 40px;
}

.nav-icons > * {
    margin: 0 10px;
}

main .container {
    justify-content: center;
    align-items: center;
}

.main-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-img > * {
    width: 100%;
}

.img-b {
    display:none;
}

.main-img:hover .img-a {
    display: none;
}

.main-img:hover .img-b {
    display: block;
}

main .my-row {
    width: 70%;
    align-self: center;
    margin: 20px 10px;
}

.prod-info {
    text-align: left;
}

.marca {
    font-size: 0.8em;
}

.prezzo {
    color: red;
    font-weight: bold;
}

.vecchio-prezzo {
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

.favourite {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: color 0.2s ease-in-out;
}

.favourite:hover {
    color: red;
}

.etichette {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 30px;
    max-width: 100%;
    height: 30px;
}

.etichette > * {
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.discount {
    width: 15%;
    background-color: red;
}

.sostenibilita {
    width: 30%;
    background-color: green;
}

footer {
    background-color: black;
    padding: 20px 0;
}

footer > .container{
    align-items: center;
    justify-content: center;
}

footer .my-row {
    justify-content: space-between;
}

#srl {
    text-align: left;
}

#srl > h4 {
    margin-left: 5px;
}

#contacts * {
    font-size: 1.2em;
    margin: 5px 0;
}